node-red/alarmpanel.json
[{"id":"0b80aa53cbe8e6e2","type":"tab","label":"Lanbon Security Panel","disabled":false,"info":"","env":[]},{"id":"e7faec55927cd35a","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/livingroom/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":80,"wires":[["8ac3fdee648284fe"]]},{"id":"99cabcc7d52bfc9b","type":"debug","z":"0b80aa53cbe8e6e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":460,"wires":[]},{"id":"ac7b661dc1513061","type":"change","z":"0b80aa53cbe8e6e2","name":"Convert2Num","rules":[{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":0,\"text\":\"1\"}","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":1,\"text\":\"2\"}","fromt":"str","to":"2","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":2,\"text\":\"3\"}","fromt":"str","to":"3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":3,\"text\":\"4\"}","fromt":"str","to":"4","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":4,\"text\":\"5\"}","fromt":"str","to":"5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":5,\"text\":\"6\"}","fromt":"str","to":"6","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":6,\"text\":\"7\"}","fromt":"str","to":"7","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":7,\"text\":\"8\"}","fromt":"str","to":"8","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":8,\"text\":\"9\"}","fromt":"str","to":"9","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{\"event\":\"up\",\"val\":10,\"text\":\"0\"}","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["d23a2c349910face","5ab4cf203591cd76"]]},{"id":"d23a2c349910face","type":"function","z":"0b80aa53cbe8e6e2","name":"","func":"var pin=global.get('pin') || \"\";\n\nvar count=global.get('count') || 0;\ncount +=1;\nglobal.set('count',count)\n\npin = pin+msg.payload;\nglobal.set('pin',pin)\n\n\nif (count >= 4) {\n  msg.payload=pin;\n  global.set('count',undefined)\n  global.set('pin',undefined)\n  return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":500,"wires":[["99cabcc7d52bfc9b","978adaf5813fc4c9"]]},{"id":"8ac3fdee648284fe","type":"switch","z":"0b80aa53cbe8e6e2","name":"UpEventsOnly","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"{\"event\":\"up\",\"val","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":320,"wires":[["ac7b661dc1513061"]]},{"id":"978adaf5813fc4c9","type":"api-call-service","z":"0b80aa53cbe8e6e2","name":"Disarm Alarm","server":"669eed80.4f9844","version":5,"debugenabled":false,"domain":"alarm_control_panel","service":"alarm_disarm","areaId":[],"deviceId":[],"entityId":["alarm_control_panel.alarm"],"data":"{\"code\":msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":520,"wires":[[]]},{"id":"fb5f39cf34bab9e1","type":"function","z":"0b80aa53cbe8e6e2","name":"Reset","func":"global.set('count',undefined)\nglobal.set('pin',undefined)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":400,"wires":[[]]},{"id":"5ab4cf203591cd76","type":"delay","z":"0b80aa53cbe8e6e2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":320,"wires":[["fb5f39cf34bab9e1"]]},{"id":"8b34728627566066","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/mainhall/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":140,"wires":[["8ac3fdee648284fe"]]},{"id":"da5ff263f7265cee","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/ensuite/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":200,"wires":[["8ac3fdee648284fe"]]},{"id":"16c2241ebfe6d928","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/mbr/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":260,"wires":[["8ac3fdee648284fe"]]},{"id":"9152a3b91fa4ce8a","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/porch/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":320,"wires":[["8ac3fdee648284fe"]]},{"id":"df2df457211af7fa","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/dining/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":380,"wires":[["8ac3fdee648284fe"]]},{"id":"ef006a2ad5f4033f","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/downbath/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":440,"wires":[["8ac3fdee648284fe"]]},{"id":"6dc9dabe1edb7af5","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/kitchen/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":500,"wires":[["8ac3fdee648284fe"]]},{"id":"fb8196aa68104765","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/garage/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":560,"wires":[["8ac3fdee648284fe"]]},{"id":"a416144df4052b42","type":"mqtt in","z":"0b80aa53cbe8e6e2","name":"","topic":"hasp/downhall/state/p12b1","qos":"0","datatype":"utf8","broker":"441d674c9c4a7f07","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":620,"wires":[["8ac3fdee648284fe"]]},{"id":"441d674c9c4a7f07","type":"mqtt-broker","name":"192.168.0.21","broker":"192.168.0.21","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"669eed80.4f9844","type":"server","name":"Home Assistant","addon":true}]